*{
    font-family: Arial;
}

.container{
    background-color: #24232b;
    padding: 24px;
}

.header{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
}